.card {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 444px;
  margin: 42px 10px;
  box-sizing: border-box;

  @media (min-width: $desktop-width-sx) {
    margin: 42px 103px;
    padding-right: 50%;
  }
}

.card__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    @include title-font-tablet;
    margin-bottom: 18px;
  }

  @media (min-width: $desktop-width-sx) {
    @include title-font-desktop;
    margin-bottom: 9px;
  }
}

.card__text {
  margin: 0;
  margin-bottom: 24px;
  opacity: 0.7;

  @media (min-width: $tablet-width) {
    @include text-font-tablet;
  }

  @media (min-width: $desktop-width-sx) {
    @include text-font-desktop;
    margin-bottom: 28px;
  }
}

.card__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  list-style: none;

  & li {
    margin-bottom: 22px;
  }
}

.card__details-title {
  margin-bottom: 4px;
}

.card__details-text {
  font-weight: 700;
}

.card__img-container {
  display: block;
  width: calc(100%-20px);
  height: 211px;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    height: 336px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width-sx) {
    position: absolute;
    top: 27px;
    right: 0;
    height: 417px;
    width: calc(50% + 80px);
  }
}

.card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card__button {
  @include button-settings-mobile;
  display: block;
  margin: 0 auto;
  margin-bottom: 23px;
  cursor: pointer;
  transition: all 0.3s;

  @media (min-width: $desktop-width-sx) {
    margin-top: auto;
    margin-bottom: 0;
  }

  &:hover {
    background-color: $pale-blue-line;
    color: $basic-white;
    transition: all 0.3s;
  }
}
