.page-header {
  position: relative;
  padding: 16px 10px 0;
  background-color: $basic-violet;

  @media (min-width: $desktop-width) {
    padding: 18px 103px 0;
  }
}

.page-header__wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.page-header__title-wrapper {
  padding-bottom: 6px;
  margin-bottom: 26px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $basic-white;

  @media (min-width: $tablet-width) {
    padding-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 9px;
    padding-bottom: 18px;
  }
}

.page-header__logo {
  margin-right: 2px;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
    margin-right: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 60px;
    height: 60px;
  }
}

.page-header__title {
  @media (min-width: $tablet-width) {
    width: 132px;
    height: 23px;
  }

  @media (min-width: $desktop-width) {
    width: 145px;
    height: 26px;
  }
}

.page-navigation__toggle {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 54px;
  width: 54px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }
  @media (min-width: $tablet-width) {
    width: 64px;
    min-height: 64px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 10px;
  width: 21px;
  height: 3px;
  border-radius: 2px;
  background-color: $basic-white;
  box-shadow: 0 6px 0 0 $basic-white;
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out, box-shadow 0.7s ease-in-out;

  @media (min-width: $tablet-width) {
    width: 36px;
    height: 4px;
    box-shadow: 0 9px 0 0 $basic-white;
  }
}

.page-navigation__toggle::after {
  content: "";
  position: absolute;
  top: 36px;
  right: 10px;
  width: 21px;
  height: 3px;
  border-radius: 2px;
  background-color: $basic-white;
  transform: rotate(0deg);
  transition: transform 0.5s ease;

  @media (min-width: $tablet-width) {
    top: 42px;
    width: 36px;
    height: 4px;
  }
}

.page-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0 0 6px;
  text-align: center;
  border-bottom: 1px solid $basic-white;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  & li {
    margin-bottom: 15px;

    @media (min-width: $desktop-width) {
      margin-bottom: 7px;
      margin-right: 122px;
      font-size: 22px;
      line-height: 32px;
    }
  }

  & li:last-child {
    @media (min-width: $desktop-width) {
      margin-right: 0;
    }
  }
}

.page-navigation__item {
  text-decoration: none;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}
