.page-header {
  position: relative;
  padding: 16px 10px 0;
  background-color: $blue-background;

  @media (min-width: $desktop-width-sx) {
    padding: 18px 103px 0;
  }
}

.page-header__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  border-bottom: 1px solid $basic-white;

  @media (min-width: $desktop-width-sx) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-header__title-wrapper {
  padding-bottom: 6px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 16px;
  }

  @media (min-width: $desktop-width-sx) {
    margin-right: 40px;
    padding-top: 2px;
    padding-bottom: 16px;
  }
}

.page-header__logo {
  margin-right: 2px;

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
    margin-right: 16px;
  }

  @media (min-width: $desktop-width-sx) {
    width: 60px;
    height: 60px;
  }
}

.page-header__title {
  @media (min-width: $tablet-width) {
    width: 132px;
    height: 23px;
  }

  @media (min-width: $desktop-width-sx) {
    width: 145px;
    height: 26px;
  }
}

.page-navigation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 55px;

  @media (min-width: $tablet-width) {
  height: 83px;
  }

  @media (min-width: $desktop-width-sx) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    background-color: transparent;
  }
}

.page-navigation--open {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba($basic-black, 0.5);
  z-index: 100;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;

  @media (min-width: $desktop-width-sx) {
    display: none;
  }
}

.page-navigation__toggle {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 54px;
  width: 54px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;

  &:active {
    opacity: 0.3;
  }
  @media (min-width: $tablet-width) {
    width: 64px;
    min-height: 64px;
  }

  @media (min-width: $desktop-width-sx) {
    display: none;
  }
}

.page-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 24px;
  right: 10px;
  width: 21px;
  height: 3px;
  border-radius: 2px;
  background-color: $basic-white;
  box-shadow: 0 6px 0 0 $basic-white;
  transform: rotate(0deg);
  transition: transform 0.5s ease-in-out, box-shadow 0.7s ease-in-out;

  @media (min-width: $tablet-width) {
    width: 36px;
    height: 4px;
    box-shadow: 0 9px 0 0 $basic-white;
  }
}

.page-navigation__toggle::after {
  content: "";
  position: absolute;
  top: 36px;
  right: 10px;
  width: 21px;
  height: 3px;
  border-radius: 2px;
  background-color: $basic-white;
  transform: rotate(0deg);
  transition: transform 0.5s ease;

  @media (min-width: $tablet-width) {
    top: 42px;
    width: 36px;
    height: 4px;
  }
}

.page-navigation__toggle--open {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 34px;
    right: 4px;
    width: 30px;
    height: 3px;
    background-color: $basic-black;
    box-shadow: none;
    transition: transform 0.5s ease-in-out, box-shadow 0.7s ease-in-out;

    @media (min-width: $tablet-width) {
      top: 34px;
      right: 8px;
      width: 36px;
      height: 4px;
    }
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-navigation__list {
  visibility: hidden;
  margin: 0;
  padding: 26px 0 6px;
  list-style: none;
  text-align: center;
  background-color: $grey-background;
  opacity: 0;
  transform: translate(0px, -100%);
  transition: all 0.5s ease-in-out;

  @media (min-width: $desktop-width-sx) {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    column-gap: 52px;
    padding: 0;
    text-align: right;
    background-color: transparent;
    transform: translate(0px, 0px);
    transition: none;
  }

  @media (min-width: $desktop-width) {
    column-gap: 122px;
  }

  & li {
    margin-bottom: 30px;

    @media (min-width: $desktop-width-sx) {
      margin-bottom: 7px;
    }
  }

  & li:last-child {
    @media (min-width: $desktop-width-sx) {
      margin-right: 0;
    }
  }
}

.page-navigation__list--open {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  transition: all 0.5s ease-in-out;
}

.page-navigation__logo {
  margin-bottom: 30px;

  @media (min-width: $desktop-width-sx) {
    display: none;
  }
}

.page-navigation__item {
  position: relative;
  text-decoration: none;
  color: $basic-black;
  transition: all 300ms linear;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width-sx) {
    color: $basic-white;
    font-size: 22px;
    line-height: 32px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    height: 2px;
    width: 0;
    background-color: $basic-white;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
    transition: width 0.3s;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    transition: width 0.3s;
  }

  &:hover::after {
    transition-delay: 0.3s;
  }
}

.page-header--inner {
  background-color: transparent;

  & .page-header__wrapper {
    border-bottom: 1px solid $basic-black;
  }

  & .page-navigation__item {
    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      height: 2px;
      width: 0;
      background-color: $basic-black;
    }

    &::before {
      left: 0;
    }

    &::after {
      right: 0;
      transition: width 0.3s;
    }

    &:hover::before,
    &:hover::after {
      width: 100%;
      transition: width 0.3s;
    }

    &:hover::after {
      transition-delay: 0.3s;
    }
  }
  @media (min-width: $desktop-width-sx) {
    & .page-navigation__item {
      color: $basic-black;
    }
  }

  & .page-navigation__toggle::before {
    content: "";
    position: absolute;
    top: 24px;
    right: 10px;
    width: 21px;
    height: 3px;
    border-radius: 2px;
    background-color: $basic-black;
    box-shadow: 0 6px 0 0 $basic-black;
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out, box-shadow 0.7s ease-in-out;

    @media (min-width: $tablet-width) {
      width: 36px;
      height: 4px;
      box-shadow: 0 9px 0 0 $basic-black;
    }
  }

  & .page-navigation__toggle::after {
    content: "";
    position: absolute;
    top: 36px;
    right: 10px;
    width: 21px;
    height: 3px;
    border-radius: 2px;
    background-color: $basic-black;
    transform: rotate(0deg);
    transition: transform 0.5s ease;

    @media (min-width: $tablet-width) {
      top: 42px;
      width: 36px;
      height: 4px;
    }
  }

  & .page-navigation__toggle--open {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 34px;
      right: 4px;
      width: 30px;
      height: 3px;
      background-color: $basic-black;
      box-shadow: none;
      transition: transform 0.5s ease-in-out, box-shadow 0.7s ease-in-out;

      @media (min-width: $tablet-width) {
        top: 34px;
        right: 8px;
        width: 36px;
        height: 4px;
      }
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
