$basic-black: #000000;
$basic-white: #ffffff;
$blue-background: #3A5AFF;
$grey-background: #fafafa;
$light-blue-button: #3AB9F0;
$blue-button: #3A7DFF;
$pale-blue-button: #B6CFFF;
$pale-blue-events: #E3F2FF;
$pale-blue-line: #3ABAF0;
$basic-violet: #563AFF;
$grey-category: #DBDBDB;
$dark-grey-text: #484848;
$shadow: rgba(0, 0, 0, 0.1);
$services-details-grey: #606060;
$pale-blue-background: #F0F4FB;

$mobile-width-only: 639px;
$tablet-width: 640px;
$desktop-width-sx: 1024px;
$desktop-width: 1366px;

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

@mixin title-font-mobile {
  font-size: 26px;
  line-height: 29px;
  font-weight: 700;
}

@mixin title-font-tablet {
  font-size: 45px;
  line-height: 66px;
}

@mixin title-font-desktop {
  font-size: 52px;
  line-height: 77px;
  max-width: 677px;
}

@mixin text-font-mobile {
  font-size: 15px;
  line-height: 20px;
}

@mixin text-font-tablet {
  font-size: 17px;
  line-height: 23px;
}

@mixin text-font-desktop {
  font-size: 22px;
  line-height: 30px;
}

@mixin button-settings-mobile {
  text-align: center;
  min-height: 34px;
  width: 132px;
  padding: 9px;
  box-sizing: border-box;
  text-decoration: none;
  border-radius: 7px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: $basic-black;
  background-color: $basic-white;
  border: 1px solid $pale-blue-line;
}

@mixin button-settings-tablet {
  min-height: 47px;
  width: 185px;
  padding: 12px;
  font-size: 16px;
  line-height: 22px;
}
