$basic-black: #000000;
$basic-white: #ffffff;
$blue-background: #3D3BC3;
$grey-background: #fafafa;
$light-blue-button: #3AB9F0;
$blue-button: #3A7DFF;
$pale-blue-button: #B6CFFF;
$pale-blue-hover: #E3F2FF;
$pale-blue-line: #3ABAF0;
$basic-violet: #563AFF;
$grey-category: #DBDBDB;
$dark-grey-text: #484848;
$shadow: rgba(0, 0, 0, 0.1);

@mixin padding-left-right {
  padding-left: 30px;
  padding-right: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
