@import "global/fonts.scss";
@import "global/utils.scss";
@import "global/page.scss";
@import "global/page-header.scss";
@import "global/page-main.scss";
@import "index/main-events.scss";
@import "index/slider.scss";
@import "index/about.scss";
@import "index/events.scss";
@import "index/services.scss";
@import "index/communities.scss";
@import "index/features.scss";
@import "services/select.scss";
@import "services/services-page.scss";
@import "communities/communities-page.scss";
@import "global/scroll-up.scss";
