.communities__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 33px;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 103px;
  }
}

.communities__title {
  @include title-font-mobile;
  margin: 0;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    @include title-font-tablet;
  }

  @media (min-width: $desktop-width) {
    @include title-font-desktop;
  }
}

.communities__text {
  margin: 0;
  margin-bottom: 17px;
  font-size: 15px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
    font-size: 17px;
    line-height: 23px;
  }

  @media (min-width: $desktop-width) {
    max-width: 742px;
    font-size: 22px;
    line-height: 30px;
  }
}

.communities__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    margin-bottom: 18px;
  }
}

.community {
  margin-bottom: 18px;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  column-gap: 14px;
  min-height: 95px;
  background-color: $grey-background;
  border-radius: 10px;
  box-shadow: 0 0 20px $shadow;

  @media (min-width: $tablet-width) {
    min-height: 116px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 18px;
    margin-bottom: 19px;
  }

  &:hover {
    box-shadow: 0 0 40px $shadow;
  }

  &:last-child {
    margin-bottom: 32px;

    @media (min-width: $tablet-width) {
      margin-bottom: 37px;
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 19px;
    }
  }
}

.community__img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 95px;
  height: 95px;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    width: 116px;
    height: 116px;
  }
}

.community__title {
  margin: 13px 5px 3px 0;
  font-size: 17px;
  line-height: 25px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin: 24px 18px 3px 0;
    font-size: 19px;
    line-height: 28px;
  }
}

.community__text {
  margin: 0 5px 12px 0;
  font-size: 15px;
  line-height: 14px;
  opacity: 0.5;

  @media (min-width: $tablet-width) {
    margin: 0 80px 12px 18px;
    font-size: 17px;
    line-height: 16px;
  }
}

.communities__link {
  @include button-settings-mobile;
  display: block;
  margin: 0 auto;
  color: $basic-black;
  background-color: $basic-white;
  border: 1px solid $pale-blue-line;

  @media (min-width: $tablet-width) {
    @include button-settings-tablet;
  }
}
