.events__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 42px 10px;

  @media (min-width: $tablet-width) {
    padding-bottom: 110px;
  }

  @media (min-width: $desktop-width-sx) {
    margin-bottom: 30px;
    padding: 92px 103px;
  }
}

.events__title {
  @include title-font-mobile;
  margin: 0;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    @include title-font-tablet;
    margin-bottom: 9px;
  }

  @media (min-width: $desktop-width-sx) {
    @include title-font-desktop;
  }
}

.events__text {
  margin: 0;
  margin-bottom: 23px;
  font-size: 15px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 17px;
    line-height: 23px;
  }

  @media (min-width: $desktop-width-sx) {
    margin-bottom: 37px;
    max-width: 742px;
    font-size: 22px;
    line-height: 30px;
  }
}

.events__buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    display: inline-flex;
    column-gap: 31px;
    margin-bottom: 39px;
  }

  @media (min-width: $desktop-width-sx) {
    column-gap: 17px;
    margin-bottom: 31px;
  }
}

.events__next-events,
.events__previous-events {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  padding: 5px;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    height: 33px;
    padding: 8px 10px 8px 15px;
  }

  @media (min-width: $desktop-width-sx) {
    height: 40px;
  }

  &:hover {
    background-color: $blue-button;
  }

  &:active {
    background-color: $pale-blue-button;
  }
}

.events__next-events {
  background-color: $blue-button;
}

.events__previous-events {
  background-color: $pale-blue-button;
}

.events__buttons__text {
  font-family: "Circe", "Arial", sans-serif;
  font-size: 10px;
  line-height: 15px;
  color: $basic-white;
  letter-spacing: -0.2px;

  @media (min-width: $tablet-width) {
    font-size: 13px;
    line-height: 19px;
  }

  @media (min-width: $desktop-width-sx) {
    font-size: 16px;
    line-height: 24px;
  }
}

.events__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $basic-white;
  border-radius: 37px;
  min-width: 14px;
  margin-left: 8px;
  color: rgba($basic-black, 0.7);
  padding: 1px 5px;
  box-sizing: border-box;
  font-size: 9px;
  line-height: 13px;
  letter-spacing: -0.2px;

  @media (min-width: $tablet-width) {
    font-size: 11px;
    line-height: 16px;
  }

  @media (min-width: $desktop-width-sx) {
    font-size: 12px;
    line-height: 18px;
  }
}

.events__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 28px;
  }
}

.event {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 13px $shadow;

  @media (min-width: $desktop-width) {
    min-height: 443px;
    margin-bottom: 31px;
  }

  &:hover {
    box-shadow: 0 20px 30px $shadow;
  }
}

.event:last-child {
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width-sx) {
    margin-bottom: 31px;
  }
}

.event__title {
  margin: 0;
  padding: 26px 11px 11px;
  background-color: $basic-violet;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: $basic-white;
  font-size: 25px;
  line-height: 37px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 44px;
    padding: 40px 23px 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 52px;
    padding: 60px 21px 20px;
  }
}

.event__text {
  margin: 0;
  margin-bottom: 15px;
  padding: 10px 5px 5px 11px;
  border-bottom: 1px solid rgba($basic-black, 0.3);
  font-size: 10px;
  line-height: 14px;

  @media (min-width: $tablet-width) {
    padding: 17px 23px 15px;
    font-size: 16px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width-sx) {
    padding: 21px 21px 18px;
    font-size: 18px;
    line-height: 24px;
  }
}

.event__details {
  margin: 0 0 23px;
  padding: 0 11px;
  display: grid;
  grid-template-columns: fit-content fit-content 1fr;
  grid-template-rows: min-content min-content;
  column-gap: 9px;

  @media (min-width: $tablet-width) {
    margin: 0 0 41px;
    padding: 0 23px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width-sx) {
    padding: 0 21px;
  }
}

.event__details-header {
  grid-row: 1 / 2;
  font-size: 9px;
  line-height: 12px;
  color: $basic-violet;

  @media (min-width: $tablet-width) {
    font-size: 13px;
    line-height: 18px;
  }
}

.event__details-text {
  grid-row: 2 / 3;
  margin: 0;
  font-size: 10px;
  line-height: 14px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width-sx) {
    font-size: 17px;
    line-height: 23px;
  }
}

.event__button {
  display: inline-block;
  width: 100%;
  margin-top: auto;
  padding: 10px;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-decoration: none;
  text-align: center;
  color: $basic-black;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  background-color: $pale-blue-events;
  transition: all 0.3s;

  @media (min-width: $tablet-width) {
    padding: 16px;
    font-size: 16px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 22px;
  }

  &:hover {
    color: $basic-white;
    background-color: $light-blue-button;
    transition: all 0.3s;
  }
}

.events__button {
  @include button-settings-mobile;
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    @include button-settings-tablet;
  }

  &:hover {
    color: $basic-white;
    background-color: $light-blue-button;
    transition: all 0.3s;
  }
}
