.features {
  background-color: $blue-background;
}

.features__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 77px 10px 103px;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    padding: 72px 10px 96px;
  }

  @media (min-width: $desktop-width-sx) {
    margin-bottom: 30px;
    padding: 92px 103px;
  }
}

.features__title {
  margin: 0;
  margin-bottom: 36px;
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
    font-size: 36px;
    line-height: 53px;
  }

  @media (min-width: $desktop-width-sx) {
    @include title-font-desktop;
    margin-bottom: 43px;
  }
}

.features__list,
.feature__details {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 150px;
  }
}

.feature {
  margin-bottom: 33px;
}

.feature_img {
  display: block;
  width: 42px;
  height: 42px;
  margin-bottom: 15px;

  @media (min-width: $desktop-width-sx) {
    width: 85px;
    height: 85px;
    margin-bottom: 25px;
  }
}

.feature__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 23px;
  }

  @media (min-width: $desktop-width-sx) {
    font-size: 32px;
    line-height: 30px;
  }
}

.feature__details {
  @media (min-width: $desktop-width-sx) {
    font-size: 20px;
    line-height: 30px;
    font-weight: 350;
  }
}

.feature__app {
  margin-bottom: 5px;
}

.feature__app__img {
  display: block;
  width: 166px;
  height: 54px;
  transition: all 0.3s;

  &:hover {
    opacity: 0.7;
    transition: all 0.3s;
  }
}
