.main-events {
  position: relative;
  padding: 0 10px 52px;
  background-color: $basic-violet;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 10px 79px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 92px;
  }
}
