.main-events {
  position: relative;
  padding-bottom: 52px;
  background-color: $blue-background;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-bottom: 79px;
  }

  @media (min-width: $desktop-width-sx) {
    padding-bottom: 92px;
  }
}
