.services__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  margin-bottom: 33px;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
    padding-right: 28px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 103px;
  }
}

.services__title {
  @include title-font-mobile;
  margin: 0;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    @include title-font-tablet;
  }

  @media (min-width: $desktop-width) {
    @include title-font-desktop;
  }
}

.services__text {
  margin: 0;
  margin-bottom: 6px;
  font-size: 15px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
    font-size: 17px;
    line-height: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
    max-width: 742px;
    font-size: 22px;
    line-height: 30px;
  }
}

.services__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 31px;
    row-gap: 31px;
    min-height: 412px;
    margin-bottom: 31px;
  }
}

.service {
  margin-bottom: 25px;
  padding: 26px 24px 19px 9px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 4px 13px $shadow;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
    padding: 25px 45px 22px;
  }

  @media (min-width: $desktop-width) {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 25px 28px;
  }

  &:hover {
    box-shadow: 0 20px 30px $shadow;
  }

  &:last-child {
    margin-bottom: 19px;

    @media (min-width: $tablet-width) {
      margin-bottom: 29px;
    }
  }
}

.service__title {
  margin: 0;
  margin-bottom: 6px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 26px;
    line-height: 26px;
  }
}

.service__img {
  display: block;
  width: 100%;
  height: 144px;
  object-fit: cover;
  order: -1;
  margin-bottom: 26px;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    height: 168px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 19px;
  }
}

.service__text {
  margin: 0;
  margin-bottom: 26px;
  line-height: 22px;
  font-weight: 350;

  @media (min-width: $tablet-width) {
    margin-bottom: 28px;
    font-size: 16px;
    line-height: 20px;
  }
}

.service__link {
  margin-top: auto;
  text-decoration: none;
  color: inherit;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }

  @media (min-width: $tablet-width) {
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 22px;
  }
}

.services__link {
  @include button-settings-mobile;
  display: block;
  margin: 0 auto;
  color: $basic-black;
  background-color: $basic-white;
  border: 1px solid $pale-blue-line;

  @media (min-width: $tablet-width) {
    @include button-settings-tablet;
  }
}
