.slider {
  position: relative;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $desktop-width-sx) {
    padding: 0 103px;
  }
}

.slider__wrapper {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 1160px;
  height: 338px;
  box-sizing: border-box;
  padding: 34px 12px;
  text-align: center;
  align-items: center;
  background: linear-gradient(to right, rgba(0,0,0, 0.7) 30%, rgba(0,0,0,0)),
              url("../img/mobile-slider-marathon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    margin: 0 84px;
    padding: 32px 27px;
    min-width: 472px;
    height: 276px;
    align-items: flex-start;
    text-align: left;
    background: linear-gradient(to right, rgba(0,0,0, 0.7) 30%, rgba(0,0,0,0)),
                url("../img/tablet-slider-marathon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: $desktop-width-sx) {
    margin: 0 auto;
    padding: 71px 106px 66px 46px;
    height: 443px;
    background: linear-gradient(to right, rgba(0,0,0, 0.7) 30%, rgba(0,0,0,0)),
                url("../img/desktop-slider-marathon.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: $desktop-width) {
    padding: 71px 552px 66px 46px;
  }
}

.slider__title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 23px;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 29px;
  }

  @media (min-width: $desktop-width-sx) {
    margin-bottom: 10px;
    font-size: 41px;
    line-height: 47px;
    font-weight: 800;
  }
}

.slider__text {
  margin: 0 24px 17px;

  @media (min-width: $tablet-width) {
    margin: 0 3px 17px 0;
    font-size: 17px;
    line-height: 23px;
  }

  @media (min-width: $desktop-width-sx) {
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 29px;
  }
}

.slider__button {
  display: inline-block;
  min-height: 29px;
  width: 153px;
  padding: 7px;
  margin-top: auto;
  box-sizing: border-box;
  text-decoration: none;
  color: $basic-white;
  background-color: $light-blue-button;
  border-radius: 7px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    min-height: 38px;
    padding: 11px;
    text-align: center;
  }

  @media (min-width: $desktop-width-sx) {
    min-height: 47px;
    width: 185px;
    padding: 12px;
    font-size: 16px;
    line-height: 22px;
  }
}


.slider__previous-event,
.slider__next-event {
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.slider__previous-event {
  left: 0;

  &:before {
    content: url("../img/previous-arrow.svg");
    position: relative;
    display: inline-block;
  }
}

.slider__next-event {
  right: 0;

  &:before {
    content: url("../img/next-arrow.svg");
    position: relative;
    display: inline-block;
  }
}
